.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    margin-left: 90px;
    margin-top: 20px;

}


button{
    border: 1px solid #b1e50e ;
    height: 60px;
    width: 160px;
    border-radius: 5px;
    background-color: #b1e50e;
    margin-right: 75px;
    
}

.link a{ 
    color: black;
    font-family: Nexa, sans-serif;
    text-decoration: none;
    margin-right: 60px; 
    font-size: 22px;
    margin-top: 20px;
    }
    
/* mid part of page  */


.mid{
    
    margin-left: 60px;
    margin-top: 90px;
    margin-right: 60px;
    display: flex ;
}
#midimg{
  
    width: 800px;
}


#para1{
    margin-top: 110px;
    margin-left: 132px;
      font-family:  Nexa, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: rgb(74, 71, 71);
}
#para2{
    padding-top: 80px;
    margin-left: 132px;
    font-size: 25px;
    font-family:  Nexa, sans-serif;
    color: #494b57;
    font-weight: 15px;
  
}